<div *ngIf="dataLoaded == false" class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

<table *ngIf="dataLoaded != false" class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Marka</th>
            <th>Renk</th>
            <th>Model Yılı</th>
            <th>Fiyat</th>
            <th>Açıklama</th>
        </tr>
    </thead>
    <tr *ngFor="let car of cars"
    routerLink="/cars/details/{{car.carId}}"
    (click)="setCurrentCar(car)"
    [class]="getCurrentCarClass(car)">
        <td>{{car.carId}}</td>
        <td>{{car.brandName}}</td>
        <td>{{car.colorName}}</td>
        <td>{{car.modelYear}}</td>
        <td>{{car.dailyPrice}}</td>
        <td>{{car.description}}</td>
    </tr>
</table>

<h4 *ngIf="currentCar">id: {{currentCar.carId}}</h4>
